@using Capstone.Web.Models;
@model List<SurveyModel>

@{
    ViewBag.Title = "Top Parks!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header class="TopParks">Top Parks</header>
<body class="Favorites">
    @foreach (SurveyModel i in Model)
    {
        <table>
            <tr>
                <td>
                    <img class="FavoriteImages" src="~/Content/parks/@(i.ParkCode + ".jpg")" />
                </td>
                <td>
                    @i.ParkName with @i.Votes votes!
                </td>
            </tr>
        </table>
    }
</body>
