<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>National Park Geek - @ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/stylesheet.css" />
    <link rel="bootStrapStyleSheet" href="~/Content/bootstrap.css" />
</head>
<body>
    <header>
        <img src="~/Content/Logos/logo.png" alt="National Parks" width="500"/>
    </header>
    <nav>
        <ul>
            <li><a href="@Url.Action("Index", "Home")">List Of Parks!</a></li>
            <li>@Html.ActionLink("Favorite Park Survey", "Survey", "Survey")</li>
        </ul>
    </nav>

    <section id="main">

        @RenderBody()

    </section>
    <footer>
        National Parks | Explore the world!
    </footer>
</body>
</html>
